<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: skyblue; font-family: blippo; color: #fff; padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 16px; text-align: center;}
        </style>
        <title> TOHOME </title>
    </head>
    <body>
        <h1>Hello user.</h1>
        <form id="submitform" method="POST" action="/data/accessto">
            <label for="text"> What's your message? </label>
            <input type="text" name="msg">
            <label for="pas"> Password </label>
            <input type="password" name="pass">
            <input type="submit" value="Send">
        </form>
        <p> Input password please </p>
    </body>

</html>